.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.footer > small > p {
    text-align: center;
    padding-right: 20em;
    font-size: 0.5em;
}

.header {
    background-color: #212121;
}

.py-3 {
    margin: 0;
}
